@import "@/style/variabiles.scss";

section {
  background-color: $white-smoke;
  .container {
    > div {
      p {
        color: $silver-chalice;
        max-width: 900px;
        margin: 0 auto;
        font-size: 30px;
      }
    }
  }
}
