@import "@/style/variabiles.scss";

header {
  background-color: $eastern-blue;
  font-size: 13px;
  height: 65px;
  color: $white;

  .logo {
    width: 38%;
  }

  nav {
    ul {
      li {
        margin: 0 25px;

        a {
          color: $white;
        }

        button {
          background-color: $black;
          padding: 3px 15px;
          font-size: 10px;
        }

        #lens {
          cursor: pointer;
        }
      }
    }
  }
}
