@import "@/style/variabiles.scss";

header {
  background-color: $eastern-blue;
  font-size: 13px;
  height: 85px;
  color: $white;

  > div {
    height: 100%;

    > div {
      height: 100%;

      .logo {
        width: 38%;
      }

      nav {
        height: 100%;

        ul {
          height: 100%;

          li {
            height: 100%;

            margin: 0 25px;

            a {
              height: 100%;
              color: $silver-chalice;

              &:hover {
                color: $white;
              }
            }

            button {
              background-color: $black;
              padding: 3px 15px;
              font-size: 10px;
            }

            #lens {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
