@import "@/style/variabiles.scss";

.jumbotron {
  background: url(/img/home_slider_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 85px;
  height: calc(100vh - 85px);

  .container {
    height: 100%;
    position: relative;

    > div {
      position: absolute;
      top: 35%;
      left: 10%;
      color: $white;

      h1 {
        font-size: 100px;
      }

      p {
        font-size: 18px;
      }

      button {
        background-color: $eastern-blue;
        color: $white;
        font-size: 13px;
      }
    }
  }
}
