@import "~bootstrap/scss/bootstrap.scss";
@import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css");
@import "@/style/variabiles.scss";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

body {
  font-family: "Fira Sans", sans-serif;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  border-color: transparent;
}

h5 {
  font-size: 12px;
  letter-spacing: 5px;
}

hr:not([size]) {
  height: 1.7px;
  width: 70px;
  opacity: 1;
  background-color: $salmon;
}

p {
  margin-bottom: 0;
  font-size: 13.5px;
}

.subtitle {
  font-size: 11px;
}
