@import "~bootstrap/scss/bootstrap.scss";
@import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css");
@import "@/style/variabiles.scss";

ul {
  list-style: none;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

button {
  border-color: transparent;
}

h5 {
  font-size: 10px;
  letter-spacing: 5px;
}

hr:not([size]) {
  height: 1.5px;
  width: 70px;
  margin: 0 auto;
  opacity: 1;
  background-color: $salmon;
}

p {
    margin-bottom: 0;
    font-size: 12px;
}
