@import "@/style/variabiles.scss";

.banner {
  background-color: $black;
  color: $white;
  cursor: pointer;

  &:hover {
    background-color: $eastern-blue;
  }

  a {
    color: $white;
  }
}

.container-fluid {
  background-color: $white-smoke;

  .col-3 {
    a {
      color: $black;

      .icon-box {
        margin: 0 20px;
        background-color: $white;
        border-top: 3px solid $eastern-blue;

        i {
          font-size: 36px;
          height: 80px;
          width: 80px;
          color: $white;
          background-color: $salmon;
        }
      }
    }
  }
}
